* {
  margin: 0;
  padding: 0;
}
/*Common part*/
section{
    padding: 80px 8%;
}

.common-btn {
  padding: 10px 18px;
  border-radius: 5px;
  background-color: #1d4ed8;
  color: #ffffff;
  border: none;
}

/*Nav Section*/

img {
  width: 110px;
  height: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 18px 8%;
  align-items: center;
  background-color: #ffffff;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
}
a {
  text-decoration: none;
  color: #575757;
}

/*Header Section*/

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/banner.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: gird;
  justify-content: center;
}
.hero-content {
  color: white;
  text-align: center;
  display: grid;
  gap: 20px;
  padding-top: 80px;
}
.hero-content h1 {
  font-size: 45pt;
}
.hero-btn {
  margin-top: 250px;
  width: 14%;
  margin-left: 43%;
  padding: 12px 0;
  border-radius: 8px;
  background-color: #1d4ed8;
  color: #ffffff;
}
